#thor {
    width: 200px;
    height: 200px;
}

#ironman {
    width: 200px;
    height: 200px;
}

#strange {
    width: 200px;
    height: 200px;
}

#gamora {
    width: 200px;
    height: 200px;
}

#hulk {
    width: 200px;
    height: 200px;
}

#captainamerica {
    width: 200px;
    height: 200px;
}
